/*
 General
*/
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1;
    margin: 0 0 .8em;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1;
    margin: 0 0 .4rem;
}

a {
    text-decoration: none;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
    color: inherit;
}

p, ul, ol, table {
    margin: 0 0 1rem;
}

ul {
    list-style-type: disc;
    margin-left: 22px;
}

ol {
    list-style-type: decimal;
    margin-left: 18px;
}

li > ul {
    padding: 0 0 0 calc(2em + 22px);
    margin: 0;
}

li > ol {
    padding: 0 0 0 calc(2em + 18px);
    margin: 0;
}

ol > li > span, ul > li > span {
    width: calc(100% - 1em);
    padding: 0 0 0 1em;
    display: inline-block;
    vertical-align: top;
}

dt {
    display: inline;
    font-weight: 600;
}

dd {
    margin-bottom: 1em;
}

pre code {
    font-family: monospace;
    margin: 0 0 1rem;
    border: 1px solid #6D6A62;
}

img {
    margin: 0 auto 1em auto;
    max-width: 100%;
    display: block;
}

table {
    width: 100%;
}

thead {
    font-weight: 600;
}

td, th {
    padding: .5em;
    text-align: left;
}

section {
    margin: 0 0 4em;
}

sup {
    vertical-align: super;
    font-size: 0.6em;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*
 Header / Footer
*/
header nav {
    background-image: linear-gradient(to bottom, #F78F20, #FAA754 70%);
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    position: relative;
    z-index: 30;
}

header .menu {
    background: inherit;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1em 1em 1.5em 1em;
}

header #menu-button {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
}

header .collapsable {
    display: flex;
    width: 100vw;
    align-items: flex-end;
    flex-direction: column;
    background-color: #FAA754;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -10;
    transition: transform .4s;
}

header .collapsable ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 1em 1em;
    list-style-type: none;
}

header .collapsable ul li {
    display: flex;
    align-items: center;
    font-size: .8rem;
    font-weight: 500;
    width: 100%;
}

header .collapsable ul li a {
    padding: 1em 0;
}

header .switch {
    margin: 1em 0;
}

header .collapsable ul li:hover :not(i) {
    text-decoration: underline;
}

.menu-open header .collapsable {
    transform: translateY(calc(100% - 1px))
}

footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    position: relative;
    background-image: linear-gradient(to bottom, #FAA754, #F78F20 30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 0 0 1.5em;
    z-index: 10;
}

footer .link-images img {
    display: inline-block;
    object-fit: cover;
    width: 10rem;
    height: 3rem;
    margin: 1.5em;
}

footer p {
    margin: 0 0 0.5em;
    text-align: center;
}

footer .copyright {
    font-weight: 600;
}

footer .credits {
    font-size: 0.9em;
}

/*
 Logo
*/
.logo {
    font-family: 'Comfortaa', cursive;
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
}

.logo .title {
    display: inline-block;
}

.logo span {
    display: block;
}

.logo .title span:first-child {
    font-size: 1rem;
}

.logo .title span:last-child {
    font-size: 1.4rem;
}

.logo .number {
    font-size: 3rem;
}

/*
 Switch
*/
.switch {
    position: relative;
    display: inline-block;
    background-color: #fff;
    cursor: pointer;
    margin: .2rem;
    width: 2rem;
    height: 1rem;
    border: .08rem solid #FDCB98;
    border-radius: 34px;
}

.switch .slider {
    position: absolute;
    content: "";
    background-color: #6D6A62;
    height: calc(100% + .2rem);
    width: calc(100% / 2 + .2rem);
    border: .08em solid #A19D97;
    top: -.2rem;
    left: -.2rem;
    right: auto;
    border-radius: 50%;
    transition: left .4s;
}

.switch input:checked + .slider {
    left: calc(50% - .2em);
}

.switch input {
    display: none;
}

/*
 Main
*/
main {
    flex: 1;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    max-width: 1200px;
}

main .content {
    position: relative;
    padding: 6.4em 2em 2em;
    overflow: auto;
}

/*
 Aside
*/
aside {
    position: fixed;
    background-color: #FFF;
    border-right: 2px solid #6D6A62;
    width: calc(100vw - .1em);
    height: 100vh;
    left: -100vw;
    z-index: 10;
    transition: transform .4s;
}

#aside-button {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    background-color: #6D6A62;
    border: .1em solid #A19D97;
    border-left-width: 0;
    border-radius: 0 2.4em 2.4em 0;
    color: #FFF;
    width: 3.5em;
    height: 2.4em;
    top: 2em;
    left: 0;
    cursor: pointer;
    user-select: none;
    z-index: 20;
    transform-origin: 0;
    transition: transform .4s;
}

#aside-button * {
    transition: transform .4s linear;
}

.aside-open aside {
    transform: translateX(100vw);
}

.aside-open #aside-button {
    transform: translateX(100vw) scaleX(-1);
}

.aside-open {
    height: 100vh;
    overflow: hidden;
}

aside ul {
    margin: 1.4em 0;
    list-style-type: none;
}

aside li {
    padding: .6em 1.4em;
    border-bottom: .05em solid #d4d4d4
}

/*
 Home
*/
.home .week-list {
    margin-left: -4em;
    list-style-type: none;
}

.home .week-info {
    display: flex;
    align-items: flex-start;
    margin: 2em 0;
}

.home .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2em;
}

.home .description h2 {
    border-bottom: .1em solid #6D6A62;
    padding-bottom: .05em;
    font-size: 1.1rem;
}

.home .description p {
    font-size: 0.8rem;
}

/*
 Week
*/
.week {
    margin-left: -4em;
}

.week .week-header {
    display: flex;
    align-items: center;
    margin: 0 0 2em;
}

.week .week-header h1 {
    margin: 0 0 0 2rem;
}

.week .week-lists {
    margin-left: 7.6rem;
}

.week .week-lists ul {
    list-style-type: none;
    margin-left: 0;
}

.week .week-lists li {
    margin: 1em 0;
}

.week .week-lists li a {
    border-bottom: 1px solid;
}

/*
 Notes
*/
.note a {
    border-bottom: 1px solid;
}

.note a[href^="http://"]:after, .note a[href^="https://"]:after{
    font-family: 'Material Icons';
    font-weight: normal;
    text-decoration: none;
    content: '\a0launch';
    vertical-align: top;
}

.note li {
    margin: .3em 0;
}

.note .example {
    display: block;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #6D6A62;
    width: 100%;
    margin: 0 0 1em;
}

.note .code-example code {
    margin: 0;
}

.note .schema {
    background-color: #eee;
    margin: 0 0 1em;
    padding: 1em;
    border: 0.1em solid #6D6A62;
}

.note thead {
    background-color: #eee;
}

.note .schema i {
    color: #6D6A62;
}

.note .schema .highlight {
    background-color: #FAA754;
    border: 1px dotted #fff;
}

.note .schema ul {
    margin-bottom: 0;
    list-style-type: none;
}

.note .schema li {
    margin: 0;
}

.note .schema li span {
    margin: 0;
    width: auto;
}

.note .schema li > ul {
    border-left: 1px dotted;
}

.note .schema ul span, .schema ul i {
    vertical-align: middle;
}

.note .box-example {
    margin: 0 0 1em;
    background-color: #edb68c;
    text-align: center;
}

.note .box-example, .note .box-example-border {
    position: relative;
    padding: 2em;
}

.note .box-example-border {
    border: 5px solid #eddd8c;
    background-color: #95cf9c;
}

.note .box-example-content {
    background-color: #eee;
}

.note .box-example-tag {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.note .box-example-tag.top {
    top: .5em;
}

.note .box-example-tag.bottom {
    background-color: #eddd8c;
    padding: 0 .5em;
    bottom: -.8em;
}

.note .video {
    max-width: 800px;
    margin: 0 auto;
}

.note .video div {
    box-sizing: border-box;
    position:relative;
    padding-bottom: 56.25%;
}

.note .video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

/*
 Utilities
*/
.disabled  {
    opacity: 0.4;
    pointer-events: none;
    cursor: default;
}

.bubble {
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 5.6em;
    height: 5.6em;
    background-color: #F78F20;
    border-radius: 50%;
    color: #FFF;
}

.bubble-week {
    font-size: 0.6rem;
    font-weight: 600;
    padding-left: 2rem;
}

.bubble-number {
    font-size: 1.6rem;
    font-weight: 700;
    padding-left: 2rem;
}

.inline-code {
    font-family: monospace;
    background-color: #d6d6d6;
    padding: 0 .3em;
}

.code-wrapper {
    position: relative;
}

.code-tag {
    position: absolute;
    background-color: #FAA754;
    border: 1px solid #6D6A62;
    padding: .05rem .5rem;
    width: 4rem;
    font-size: .8rem;
    top: 0;
    right: 0;
}

.color-box {
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 1px solid #000;
    vertical-align: middle;
    background-color: attr(color);
}

.hidden {
    display: none;
}

.podium {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    height: 20em;
}

.podium > div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 10em;
    background-color: #F78F20; /*FAA754*/
    border-top: solid .5em #6D6A62;
    position: relative;
    padding: 1em;
}

.podium .first {
    height: 45%;
    align-items: flex-start;
    border-radius: 1em 1em 0 0;
}

.podium .second {
    height: 25%;
    border-radius: 1em 0 0 0;
}

.podium .third {
    height: 15%;
    border-radius: 0 1em 0 0;
}

.podium .prize {
    position: absolute;
    bottom: 100%;
    padding: 1em;
}

.podium .prize .big {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.podium .prize .small {
    font-size: 0.8em;
    line-height: 1.2em;
}

.podium .number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: #FFF;
    border: .1em solid #A19D97;
    background-color: #6D6A62;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    vertical-align: middle;
}

.ultra-small {
    font-size: 0.1em;
    text-align: center;
}

/*
 Dark
*/
.dark header nav {
    background-image: linear-gradient(to bottom, #EB5539, #F3734E 70%);
}

.dark header nav .collapsable {
    background-color: #F3734E;
}

.dark footer {
    background-image: linear-gradient(to bottom, #F3734E, #EB5539 30%);
}

.dark aside {
    background-color: #36352E;
}

.dark {
    background-color: #36352E;
}

.dark .bubble {
    background-color: #EB5539;
}

.dark main {
    color: #FFF;
}

.dark .description h2 {
    border-bottom: .1em solid #A19D97;
}

.dark .switch {
    background-color: #6D6A62;
    border-color: #A19D97;
}

.dark .switch .slider {
    background-color: #FFF;
    border-color: #F9AE90;
}

.dark #aside-button {
    background-color: #F9AE90;
    border-color: #F3734E;
    color: #36352E;
}

.dark .note .schema {
    background-color: #1E1E1E;
    color: #fff;
}

.dark .note .schema i {
    color: #F9AE90;
}

.note .schema .highlight {
    background-color: #EB5539;
}

.dark .note thead {
    background-color: #1E1E1E;
}

.dark .note img {
    background-color: #6D6A62;
}

.dark .note .box-example {
    background-color: #EB5539;
}

.dark .note .box-example-border {
    border: 5px solid #F78F20;
    background-color: #4d9147;
}

.dark .note .box-example-content {
    background-color: #6D6A62;
}

.dark .note .box-example-tag.bottom {
    background-color: #F78F20;
}

.dark .inline-code {
    background-color: #F9AE90;
    color: #1E1E1E;
}

.dark .code-tag {
    background-color: #EB5539;
}

.dark .color-box {
    border: 1px solid #fff;
}

/*
 Tablet
*/
@media (min-width: 640px){
    /*
     Header / Footer
    */
    header nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header nav #menu-button {
        display: none;
    }

    header nav .collapsable {
        display: block;
        width: auto;
        position: relative;
        z-index: auto;
        background: none;
        transition: none;
    }

    header nav .collapsable ul {
        align-items: center;
        flex-direction: row;
        margin: 0;
    }

    header nav .collapsable ul li {
        width: auto;
        margin: 0 1em ;
    }

    header nav .switch {
        margin: 0 0 0 4em;
    }

    .menu-open header nav .collapsable {
        transform: none;
    }

    /*
     Main / Aside
    */
    aside {
        position: absolute;
        width: 11.9em;
        height: auto;
        top: 0;
        bottom: 0;
        left: -12em;
    }

    .aside-open aside {
        transform: translateX(12em);
    }

    .aside-open #aside-button {
        transform: translateX(12em);
    }

    .aside-open #aside-button * {
        transform: scaleX(-1);
    }

    .aside-open {
        height: auto;
        overflow: auto;
    }
    
    /*
     Home
    */
    .home .week-list {
        margin-left: 0;
    }

    .home .week-info {
        align-items: center;
    }

    /*
     Week
    */
    .week {
        margin: 0;
    }

    /*
     Utilities
    */
    .bubble-week {
        font-weight: 700;
        font-size: 0.8rem;
        padding-left: 0;
    }
    
    .bubble-number {
        font-size: 1.8rem;
        padding-left: 0;
    }

    /*
     Notes
    */
    .note .box-example {
        margin: 0 auto 1em auto;
        max-width: 500px;
    }

    .note .box-example, .note .box-example-border {
        position: relative;
        padding: 4em;
    }

    .note .box-example-tag.top {
        top: 1.5em;
    }

    /*
     Dark
    */
    .dark header nav .collapsable {
        background: none;
    }
}
    
/*
 Computer
*/
@media (min-width: 1200px){
    /*
     Main / Aside
    */
    main {
        display: flex;
        align-items: stretch;
    }

    main .content {
        padding: 2em;
    }

    #aside-button {
        display: none;
    }

    aside {
        flex-shrink: 0;
        display: block;
        position: static;
    }
    
    .aside-open aside {
        transform: none;
    }
}
